<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"

 xsi:schemaLocation="http://www.springframework.org/schema/beans
 https://www.springframework.org/schema/beans/spring-beans.xsd
 https://www.springframework.org/schema/context
 https://www.springframework.org/schema/context/spring-context.xsd">
<!--  xmlns:context="http://www.springframework.org/schema/context" -->

<!--Use OF COllection Type  -->
	<bean class="two.collections.sc.Employee_Collection" name="Emp_Detail">
			<property name="emp_name" value="Shadab Qureshi"/>
			
			<property name="emp_phone">
			     <list>
						<value>0123456789</value>
						<value>9876543210</value>
				 </list>
			</property>
			
			<property name="emp_address">
					<set>
						<value>Gwalior</value>
						<value>Morena</value>
					</set>
			</property>
			
			<property name="emp_course">
					<map>
						<entry key="Java" value="4 MOnth"/>
						<entry key="Python" value="5 Month"/>
					</map>
			</property>
			
		
	</bean>
</beans>